body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.428571429;
    color: #333333;
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    width:900px;
    margin:auto;
}
ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
    width: 900px;
    margin:auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

li a.mid {
    display: block;
    color: #EEEEEE;
    justify-content: space-around;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    font-size:20px;
    margin:auto;
}

li a.mid:hover{
    color: firebrick;
}
div.main {
    width:900px;
    display:block;
    margin: auto;
    margin-top: 20px;
}
div.games_icon{
    width:900px;
    display: inline-flex;
    justify-content:space-around;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

a.games_icon{
    text-decoration: none;
    display:inline-block;
    color: firebrick;
}
img.games_icon{
    width:200px;
    display:inline-block;
    border-radius: 8px;
}
img.games_icon2{
    width:100px;
    display:inline-block;
    border-radius: 8px;
}
h1.games_icon{
    font-size: 40px;
    align-content: center;
    padding-bottom: 20px;
}
div.account{
    text-align: right;
    width:900px; 
    margin:auto;
}
a.account{
    text-decoration:none;
    display:inline-block;
    color:white;
    border-style:solid;
    border-radius:8px;
    background:black;
    padding:5px 10px;
}

/*login-------------------------------------*/
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display:block;
}
input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display:block;
}

input[type=submit] {
    width: 50%;
    background-color: #0B6623;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #01796f;
}

/*blackjack--------------------------------*/
div.blackjack{
    border-style: solid;
    border-width: 1px;
    height: 250px;
    background-image: url(../images/blackjack_playmat.jpg);
    background-repeat:repeat;
    text-align: center;
    height:fit-content;
}
div.card_hand{
/*
    border-style: solid;
    border-width: 1px;
    border-color: white;
*/
    margin-left:auto;
    margin-right:auto;
    display:inline;
    width:500px;
    height:500px;
    align-content: center;
}
img.card{
    width:100px;
}
p.blackjack{
    color:white;
    text-align: center;
}
h1.blackjack{
    color:white;
    text-align: center;
    font-size: 30px;
}
button.bigger{
    
}
div.game_menu{
    position:relative;
/*    border-color:white;*/
/*    border-width:1px;*/
/*    border-style:solid;*/
}